<html>
  <head>
    <title>Welcome to Okra</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bower_components/bootstrap/dist/css/bootstrap.min.css' )}}" type="text/css">
    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"  type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata|Pacifico">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static',filename='bower_components/app/css/custom.css' )}}" type="text/css" >
    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href="http://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css">-->
  </head>
  <body>
  <header>
    <div class="container-fluid">
      <nav class="navbar navbar-default navbar-expand-lg navbar-light py-lg-4">
      <div class="row">
          <div class="col-lg-6 tagline-upper text-left text-expanded text-heading text-shadow mt-5 d-none d-lg-block">
              <a class="navbar-brand text-expanded font-weight-bold" href="#">Okra</a>
          </div>
          <div class="col-lg-6 mt-5">
            <ul class="nav nav-pills pull-right">
                <li class="">
                    <span class="glyphicon glyphicon-search" data-toggle="tooltip" title="Search business" id="search"></span>
                </li>
                <li class="">
                    <span class="glyphicon glyphicon-log-in" data-toggle="tooltip" title="Log in" id="login"></span>
                </li>
                <li class="">
                    <span class="glyphicon glyphicon-user" data-toggle="tooltip" title="Sign up" id="signup"></span>
                </li>
                <li class="">
                    <span class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" title="Register business" id="register"></span>
                </li>
            </ul>
          </div>
      </div>
      </nav>
    </div>
    <!-- Menu Navigation -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav col-lg-12">
              <li class="nav-item active col-lg-2">
                <a class="nav-link text-lowercase text-capitalize text-expanded" href="#">Home
                <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item col-lg-2">
                <a class="nav-link text-lowercase text-capitalize text-expanded" href="#">About me</a>
              </li>
               <li class="nav-item col-lg-2">
                <a class="nav-link text-lowercase text-capitalize text-expanded" href="{{ url_for('mission') }}">Get mission</a>
              </li>
              <li class="nav-item col-lg-2">
                <a class="nav-link text-lowercase text-capitalize text-expanded" href="#">Projects</a>
              </li>
               <li class="nav-item col-lg-2">
                <a class="nav-link text-lowercase text-capitalize text-expanded" href="#">Faq's</a>
              </li>
               <li class="nav-item col-lg-2">
                <a class="nav-link text-lowercase text-capitalize text-expanded" href="#">Outspace news</a>
              </li>
            </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- Main section -->
  <section id="mainSection">
  {% block content %}
  {% endblock %}
  </section>
  <!-- Menu section -->
  <section id="menuSection">
    <!-- Search panel -->
    <div class="bs-panel container" id="searchpnl">
      <div class="panel panel-info">
        <div class="panel-body">
            <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Go eco!
              <strong>Search business location here</strong>
            </h2>
            <hr class="divider">
        </div>
      </div>
    </div>
    <!-- Registration panel -->
    <div class="bs-panel container" id="registerpnl">
      <div class="panel panel-info">
        <div class="panel-body">
           <hr class="divider">
              <h2 class="text-center text-lg text-uppercase my-0">Go eco!
                <strong>Register your business here</strong>
              </h2>
           <hr class="divider">
        </div>
      </div>
    </div>
    <!-- Sign up panel -->
    <div class="bs-panel container" id="signuppnl">
      <div class="panel panel-info">
        <div class="panel-body">
          <hr class="divider">
            <h2 class="text-center text-lg text-uppercase my-0">Go eco!
              <strong>Sign up here</strong>
            </h2>
          <hr class="divider">
          {% block article %}
          <form method="POST" role="form" data-toggle="validator">
            <div class="box">
                <div class="form-group row has-feedback">
                  <label for="firstname" class="control-label col-lg-2">First name:</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter you first name here." data-error="">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group row has-feedback">
                  <label for="lastname" class="control-label col-lg-2">Last name:</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter your last name here." data-error="">
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group row has has-feedback">
                  <label for="email" class="control-label col-lg-2" >Email:</label>
                  <div class="col-lg-10">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email here." data-error="Please verify this is a valid email address." data-required-error="An email is required" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="help-block with-errors"></div>
                 </div>
                 <div class="form-group row has-feedback">
                  <label for="confirmemail" class="control-label col-lg-2">Confirm email:</label>
                  <div class="col-lg-10">
                    <input type="email" class="form-control" id="confirmemail" name="confirmemail" placeholder="Confirm your email here." data-match="#email" data-error="Please verify this is a valid email address" data-match-error="Whoops, emails don't match" data-required-error="An email is required"  required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group row has-feedback">
                  <label for="userSname" class="control-label col-lg-2">Username:</label>
                  <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username here." data-error="" data-required-error="An username is required"  required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group row has-feedback">
                  <label for="passwd" class="control-label col-lg-2">Password:</label>
                  <div class="col-lg-10">
                    <input type="password" class="form-control" id="passwd" name="passwd" data-minlength="8" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" placeholder="Enter your password here." data-pattern-error="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" data-required-error="A password is required" data-error="" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group row has-feedback">
                  <label for="confpasswd" class="control-label col-lg-2">Confirm Password:</label>
                  <div class="col-lg-10">
                    <input type="password" class="form-control" id="confpasswd" name="confpasswd"  placeholder="Confirm your password here." data-match="#password" data-match-error="Whoops, passwords don't match" data-required-error="Password is required" data-error="" required>
                    <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  </div>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="form-group row text-left">
                  <label for="avatar" class="control-label col-lg-2">Insert avatar:</label>
                  <div class="col-lg-4">
                    <div class="embed-responsive embed-responsive-4by3">
                      <iframe class="form-control embed-responsive-item" id="avatar" name="avatar"></iframe>
                    </div>
                  </div>
                   <ul class="btn-group">
                          <ol>
                            <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#selectpic">
                            <span class="glyphicon glyphicon-picture"></span>
                            </button>
                          </ol>
                    </ul>
                </div>
                <!-- Modal -->
                <div id="selectpic" class="modal fade" role="dialog">
                  <div class="modal-dialog row">
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="row">
                            <h3 class="modal-title">Select picture
                              <button type="button" class="close" data-dismiss="modal">X</button>
                            </h3>
                        </div>
                      </div>
                      <div class="modal-body btn-group">
                        <!--<label for="filename" class="btn btn-default btn-file">Browse...
                            <input type="file" name="filen" for="filetext"  id="file">
                        </label>
                        <input type="text" id="filetext">
                      </div>
                      <span class="help-block">Please select one file</span>-->
                      <form methods="POST" name="uploadFileForm" enctype=multipart/form-data>
                        <div>
                          <input type=file name=file>
                          <input type=submit value=Upload>
                        </div>
                        <form>
                      </div>
                      <!--<div class="modal-footer">
                        <button type="button" class="btn btn-default" id="selectimg" value=Upload>Save changes</button>
                        <input type=submit value=Upload>
                      </div>-->
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                        <input type="checkbox" id="terms" name="terms" data-error="Please accept the terms" required="">
                    </label>I accept the <a href="#"> terms and conditions </a>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-default btn-lg">Sign up now</button>
                </div>
            </div>  <!--box-->
          </form>
          <br>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for message in messages %}
                  {% if "Error" not in message[1]: %}
                      <div class="alert alert-info">
                      <strong>Success! </strong> {{ message[1] }}
                      </div>
                  {% endif %}
                  {% if "Error" in message[1]: %}
                      <div class="alert alert-warning">
                      {{ message[1] }}
                      </div>
                  {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% endblock %}
        </div>
      </div>
    </div>
    <!--Login panel -->
    <div class="bs-panel container" id="loginpnl">
      <div class="panel panel-info">
        <div class="panel-body">
          <hr class="divider">
          <h2 class="text-center text-lg text-uppercase my-0">Go eco!<strong>Log in here</strong></h2>
          <form method="POST" action="">
          <hr class="divider">
            <div class="bg-faded p-4 my-4">
              <div class="boxpanel">
                <div class="form-group row floating-label-form-group controls">
                  <label for="usrid" class="col-lg-4 col-form-label" align="right">Username</label>
                  <div class="col-lg-6">
                    <input type="text" class="form-control" id="usrid" placeholder="Enter your business id here" autofocus="" required data-validation-required-message="Please enter your login.">
                    <p class="help-block text-danger"></p>
                  </div>
                </div>
                 <div class="form-group row floating-label-form-group controls">
                    <label for="password" class="col-lg-4 col-form-label" align="right">Password</label>
                    <div class="col-lg-6">
                         <input type="password" class="form-control" id="password" placeholder="Enter your password" autofocus="" required data-validation-required-message="Please enter your password.">
                         <p class="help-block text-danger"></p>
                    </div>
                 </div>
                <div class="form-group">
                  <div class="form-check text-center">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Remember me
                    </label>
                  </div>
                </div>
                <div class="text-center">
                   <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Forgot your login?
                  </a>
                   <a class="nav-link text-lowercase text-capitalize text-expanded" href="home.html">Forgot your password?
                  </a>
                </div>
                 <div class="text-center">
                    <button type="button" class="btn" id="selectbtn">Log in</button>
                    <button type="button" class="btn" id= "closebtn" data-dismiss="modal">Close</button>
                </div>
              </div>
             </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer">
    <div class="container text-center mt-5">
      <span class="text-muted">Copyright &copy; Okra 2017</span>
    </div>
  </footer>
  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static',filename='bower_components/jquery/dist/jquery.min.js' ) }}"></script>
  <script src="{{url_for('static',filename='bower_components/popper.js/dist/umd/popper.min.js') }}"></script>
  <script src="{{url_for('static',filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
  <script src="{{url_for('static',filename='bower_components/bootstrap/dist/js/validator.min.js') }}"></script>
  <script src="{{url_for('static',filename='bower_components/bootstrap/dist/js/validator.js') }}"></script>
  <script src="{{url_for('static',filename='bower_components/app/js/custom.js') }}"></script>
  </body>
</html>
