{% extends "base.html" %}
{% block content %}
<div class="container bg-faded">
  <div class="row">
    <div class="col-xs-2">
      <!-- tabs -->
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#breakfast" data-toggle="tab">Breakfast</a></li>
          <li><a href="#lunch" data-toggle="tab">Lunch</a></li>
          <li><a href="#eveningdinner" data-toggle="tab">Evening dinner</a></li>
          <li><a href="#snack" data-toggle="tab">Snack</a></li>
          <li><a href="#drink" data-toggle="tab">Drink</a></li>
        </ul>
      </div>
      <div class="btn btn-default">Execute</div>
      <!-- /tabs -->
    </div>
    <div class="col-xs-10">
        <div class="tab-content">
          <div class="tab-pane active" id="breakfast">
            <div class="container-fluid">
              <div class="row" id="search-bar">
                <div class="col-xs-6 form-inline">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input class="form-control" id="search-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="dropdown">
                  <div class="col-xs-3">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown button</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <hr/>
                      <a class="dropdown-item" href="#">Another action</a>
                      <hr/>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </div>
                <div class="dropdown">
                   <div class="col-xs-3">
                     <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">Dropdown button</button>
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <a class="dropdown-item" href="#">Action</a>
                        <hr/>
                        <a class="dropdown-item" href="#">Another action</a>
                        <hr/>
                        <a class="dropdown-item" href="#">Something else here</a>
                     </div>
                   </div>
                </div>
              </div>
              <div class="table-container">
                  <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th class="th-sm">Item
                      <i class="fa fa-sort float-right" aria-hidden="true"></i>
                    </th>
                    <th class="th-sm">Brand
                      <i class="fa fa-sort float-right" aria-hidden="true"></i>
                    </th>
                    <th class="th-sm">Portion
                      <i class="fa fa-sort float-right" aria-hidden="true"></i>
                    </th>
                    <th class="th-sm">Add item
                      <i class="fa fa-sort float-right" aria-hidden="true"></i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text" name="item"></td>
                    <td><input type="text" name="brand"></td>
                    <td><input type="text" name="portion"></td>
                    <td><input type="checkbox" name="additem"></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Item
                    </th>
                    <th>Brand
                    </th>
                    <th>Portion
                    </th>
                    <th>Add item
                    </th>
                  </tr>
                </tfoot>
                  </table>
              </div>
              </div>
          </div>
          <div class="tab-pane" id="lunch">
            <div class="">
              <h1>About Tab</h1>
              <p>because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
            </div>
          </div>

          <div class="tab-pane" id="eveningdinner">
            <div class="">
              <h1>Services Tab</h1>
              <p>meant to identify articles which deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
            </div>
          </div>

          <div class="tab-pane" id="snack">
             <div class="">
              <h1>Contact Tab</h1>
              <p>deserve editor attention because they are the most important for an encyclopedia to have, as determined by the community of participating editors. They may also be of interest to readers as an alternative to lists of overview articles.</p>
             </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">

</script>
{% endblock %}

