{% extends "base.html" %}
{% block content %}
<section id="main-mission" class="container bg-faded">
  <article>
    <h1>Hello,<b><em style="color:green">[USERNAME]</em></b><em>!</em></h1>
    <p>We are getting ready for our change eating habits mission!<br/><br/>
      Before the hard work we must take some initial information to check the current status of your daily diet.<br/><br/>Please, take your time to answer the following questionary and think about the responses. It's important you answer with honesty in order to elaborate the best plan together.</p>
      <div id="start-rocket" onmouseover="rocket_onmouseover()" onmouseout="rocket_onmouseout()">
        <h1><em>Let's start!</em></h1>
        <i class="fa fa-rocket" onclick="rocket_onclick()"></i>
      <div>
  </article>
</section>
<script type="text/javascript">
function rocket_onmouseover(){
  document.getElementById('start-rocket').children[1].style="color:orange;"
}
function rocket_onmouseout(){
  document.getElementById('start-rocket').children[1].style="color:green;"
}
function rocket_onclick(){
  location.href = "{{ url_for('step1') }}"
}

</script>
{% endblock %}
